.DS_Store
nodeApp/node_modules
vueApp/node_modules
vueApp/dist


# local env files
.env.local
.env.*.local

# Log files
./vueApp/npm-debug.log*
./vueApp/yarn-debug.log*
./vueApp/yarn-error.log*
./vueApp/npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
